<head>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
    <h1><%= @post.id %>번째 게시물</h1>
    <h3><제목></h3>
    <%= @post.title %>
    <h4>내용</h4>
    <%= @post.content %>
    <hr>
    <form action='/posts/show/<%= @post.id %>/comments/create' method='post'>
        <input type='text' name='input_comment'>
        <input type='submit'>
    </form>
    <hr>
    <% @comments.each do |comment| %>
        <h5><%= comment.content %>
        <a href='/posts/show/<%= @post.id %>/comments/destroy/<%= comment.id %>' data-method='post' data-confirm='댓글을 삭제합니다.'>[X]</a>
        </h5>
    <% end %>
    <hr>
    <h4><a href="/posts/edit/<%= @post.id %>">수정하기</a></h4>
    <h4><a href="/">목록으로</a></h4>
    <h4><a href="/posts/destroy/<%= @post.id %>" data-confirm="정말로 삭제하시겠습니까?" data-method="post">삭제하기</a></h4>
</body>